body {
  font-family: sans-serif;
  background: #f4f6f2;
  margin: 0;
  padding: 10px;
}

h1, h2 {
  text-align: center;
  color: #2f5d50;
}

section {
  background: #fff;
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 10px;
}

input, textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  font-size: 16px;
}

button {
  width: 100%;
  padding: 14px;
  font-size: 18px;
  background: #2f5d50;
  color: #fff;
  border: none;
  border-radius: 8px;
}
